/* configs */
body, html{ background: rgb(250,250,250)}
.std-width{ width: 960px; }
.width-100{ width: 100%;}
.grey-bg { background: #F6F6F6; }
.no-horizontal-padding { padding-left:0 !important; padding-right: 0 !important; }
.vertical-padding{ padding-top:8px; padding-bottom: 8px }
.no-padding { padding:0 !important; }

.autocomplete-image-content{ width: 48px; height: 48px; padding: 5px;}   
.autocomplete-image{ width: 100%; height: 100%; }

.main-search{ border-bottom: #ddd 1px solid; border-top: #ddd 1px solid;  }

/* main header directive */
.main-header{  width: 100%; }
.main-header .logo { height: 56px; width: 56px }

.page-home .home-logo-content{ height: 451px; background: url(img/homebg.png) no-repeat }
.page-home .home-logo { height: 80px; padding: 8px;  }
.page-home .home-logo img{ height: 100%; }
.page-home .home-top-content { background: #FFF;}

/* info zone directive */
.infozone-image-content{  width: 68px; height: 68px; padding: 5px; }
.infozone-image{ width: 68px; height: 68px; }
.infozone-textinfo { width: 300px; }

.page-home .popular-politician-image-content{ width: 48px; height: 48px; padding: 5px; }
.page-home .popular-politician-image-content img{ width: 100%; height: 100%;  position: relative; }




/* politician page */
.page-politician .politician-header-gt-xs{ border-bottom: 1px solid #ddd;}
.page-politician .politician-picture-gt-xs{ width: 200px; height: 200px; }
.page-politician .politician-picture-gt-xs img{ width: 100%; height: 100%; }
.page-politician .politician-personal-info-gt-xs{ padding: 10px; }

.page-politician .politician-header-xs{ border-bottom: 1px solid #ddd; }
.page-politician .politician-name-xs{ text-align: center;  }
.page-politician .politician-picture-xs{ width: 100%; }
.page-politician .politician-picture-xs img{ width: 100%; }

/* party page */
.page-party .party-header-gt-xs{ border-bottom: 1px solid #ddd;}
.page-party .party-picture-gt-xs{ width: 200px; height: 200px; }
.page-party .party-picture-gt-xs img{ width: 100%; height: 100%; }
.page-party .party-info-gt-xs{ padding: 10px; }

.page-party .party-header-xs{ border-bottom: 1px solid #ddd; }
.page-party .party-name-xs{ text-align: center; border-top: 1px solid #ddd; }
.page-party .party-picture-xs{ width: 100%; }
.page-party .party-picture-xs img{ width: 100%; }
.page-party .politician-card { width: 175px}
.page-party .politician-card .md-headline{ text-align: center}