<div  layout="column">
   <md-toolbar layout="row" layout-align="center center" class="mainHeader" flex="none"  layout="row">
     <md-menu-bar flex="none">
       <md-menu>
	 <button ng-click="$mdOpenMenu()">
	   <i class="material-icons md-36">view_headline</i>
	   
	 </button>
	 <md-menu-content>
	   <md-menu-item>
             <md-button ng-click="ctrl.sampleAction('share', $event)">
               Home
             </md-button>
	   </md-menu-item>
	   <md-menu-item>
             <md-button ng-click="ctrl.sampleAction('share', $event)">
               Manifesto
             </md-button>
	   </md-menu-item>
	   <md-menu-divider></md-menu-divider>
	   <md-menu-item>
             <md-button ng-click="ctrl.sampleAction('share', $event)">
               Aviso legal
             </md-button>
	   </md-menu-item>
	   <md-menu-item>
             <md-button ng-click="ctrl.sampleAction('share', $event)">
               Termos de uso
             </md-button>
	   </md-menu-item>
	   <md-menu-item>
             <md-button ng-click="ctrl.sampleAction('share', $event)">
               Politica de privacidade
             </md-button>
	   </md-menu-item>   
	 </md-menu-content>
       </md-menu>
     </md-menu-bar>
      <md-icon class="logo" flex="none" md-svg-icon="logo"></md-icon>
      <md-content flex></md-content>
   </md-toolbar>
   
  
   <md-content flex  layout="row">
      <h3>Politica transparente</h3>
      <md-button  ng-disabled="true" aria-label="Comment" layout-align="right center">
        <ng-md-icon icon="announcement" style="fill: #000" size="30" layout-align="center center"></ng-md-icon>     
    </md-button>
   </md-content>
 
    <md-content flex id="content">
      <md-icon md-svg-icon="" class="avatar"></md-icon>
      <h2>name</h2>
      <p>content</p>

      <md-button class="contact" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share">
        <md-tooltip>Contact</md-tooltip>
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>
    </md-content>

  
</div>
