<div class="page-home">
  <pl-main-header flex="grow"></pl-main-header>
  <div layout="column" layout-align-xs="start" layout-align-gt-xs="start center">
    <div class-gt-sm="home-search-content width-100" layout="column" layout-align="center center">
      <div class="main-title vertical-padding" layout="row" layout-align="center center">
	<div layout="row"  layout-align="center center">
	  <img class="logo" src="./assets/img/logo.png" /> 
	</div>
      </div>
      <div class="vertical-padding" layout="row" hide-xs layout-align="center start">
	<span class="md-title">Quem define o futuro do nosso pais é voce!</span>
      </div>
      <div class="main-search vertical-padding width-100" layout="row"  layout-align="center start">
	<md-content class-gt-sm="std-width" layout="row">
	  <pl-main-search flex></pl-main-search> 
	</md-content>
      </div>
    </div>
    <div flex class-gt-sm="std-width" layout="row" layout-xs="column">
      <md-progress-circular flex ng-hide="pageHome.popularPoliticians.length" md-mode="indeterminate"></md-progress-circular>
      <md-card flex layout="column" ng-show="pageHome.popularPoliticians.length">
	<md-toolbar layout="row"  class="md-warn md-hue-3">
	  <div class="md-toolbar-tools"> 
            <span>Políticos mais pesquisados</span>
	  </div>
	</md-toolbar>
	 <md-list flex>
	  <md-list-item class="md-2-line" ng-repeat="politician in pageHome.popularPoliticians | limitTo:6" ng-click="null">
	    <img ng-src="{{politician.photoUrl}}" class="md-avatar" alt="{{politician.name}}" />
	    <div class="md-list-item-text" layout="column">
	      <h3>{{ politician.name }}</h3>
	      <p>{{ politician.party }}</p>
	    </div>
	  </md-list-item>
	</md-list>
      </md-card>
      <md-progress-circular flex ng-hide="pageHome.popularParties.length" md-mode="indeterminate"></md-progress-circular>
      <md-card flex layout="column" ng-show="pageHome.popularParties.length">
	<md-toolbar layout="row"  class="md-warn md-hue-1">
	  <div class="md-toolbar-tools" class="md-hue-3">
            <span>Partidos mais pesquisados</span>
	  </div>
	</md-toolbar>
	 <md-list flex>
	  <md-list-item class="md-2-line" ng-repeat="party in pageHome.popularParties | limitTo:6" ng-click="null">
	    <img ng-src="{{party.photoUrl}}" class="md-avatar" alt="{{party.acronym}}" />
	    <div class="md-list-item-text" layout="column">
	      <h3>{{ party.acronym }}</h3>
	      <p>{{ party.members }} membros</p>
	    </div>
	  </md-list-item>
	</md-list>
      </md-card>
    </div>
    <div flex class-gt-sm="std-width" layout="row" layout-align="start" layout-xs="column">
      <pl-infozone flex title="Quem Somos?" text="Et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam." photo="./assets/img/quemsomos.png"></pl-infozone>
      <pl-infozone flex title="Origem dos Dados..." text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique." photo="./assets/img/origemdosdados.png"></pl-infozone>
      <pl-infozone flex title="Para entender melhor!" text="Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna." photo="./assets/img/paraentendermelhor.png"></pl-infozone>
    </div>
  </div>
</div>
